# Node.js
node_modules
npm-debug.log
yarn-error.log

# Heroku
.DS_Store
env
*.env
*/.env

# SSL Certificates
certs

# Editor and IDE files
.vscode/
.idea/

# PouchDB files
devices/
users/

# Build files
/build
/dist
*.log